AUTH_API_URL=https://laylow.me/partner/auth/login
CHARGE_API_URL=https://laylow.me/api/integration/charge-requests
DOMAIN_EXCHANGE_API_URL=https://laylow.me/api/integration/domain-exchanges
DOMAIN_SETTLEMENT_API_URL=https://laylow.me/api/integration/domain-settlements
INTEGRATION_API_KEY=
